.recipes {
  color: #fff;
  background: url(../images/background_recipes.svg) center center / cover
    no-repeat #0a2750;
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px;
  min-width: 780px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}
